@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

/* ============= Common css start =============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  width: 1100;
  margin: auto;
}
body {
  font-family: "Public Sans", sans-serif;
}
/* ============= Common css end =============*/
